<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lhd.myonerowcode">

    <!-- 请注意添加网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 非危险权限，不需要运行时请求，Manifest文件中添加即可 -->
    <!-- 访问系统网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 全局弹出对话框（悬浮窗口） -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 获取手机取设备信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 监听系统开机广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 请注意<application/>标签中的name属性值, 必须为您的Application类 -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mytouxiang_big"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <data android:scheme="growing.588f2d5cf04e66dd" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MyInformationActivity">
            <intent-filter>
                <action android:name="com.example.lhd.myonerowcode.MyInformationActivity" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 默认 -->
                <category android:name="com.example.lhd.myonerowcode.MyInformationActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".MessageConversationListActivity" />
        <activity android:name=".broadcast.BroadcastTestActivity" />

        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- enabled属性表示是否启用这个广播接收器 -->
            <!-- exported属性表示是否允许这个广播接收器接收本程序以外的广播 -->
            <!-- Android系统启动完成后会发出一条值为android.intent.action.BOOT_COMPLETED的广播，因此我们在<intent-filter>标签里添加了相应的action。另外，监听系统开机广播也是需要声明权限的 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.lhd.myonerowcode.broadcast.MY_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>

        <activity android:name=".dataLocalStorage.DataLocalStorageActivity" />
        <activity android:name=".contentResolver.ContactPeopleListActivity"></activity>
    </application>

</manifest>